@import "vars";
@import "fonts";
@import "libs";

::placeholder {
  color: #666;
}

::selection {
  background-color: $accent;
  color: #fff;
}

body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: 1.65;
  font-family: $default-font;
  overflow-x: hidden;
  color: $text;
  background-color: #fefefe;
  input,
  textarea {
    border: #666 1px solid;
    outline: none;
    &:focus:required:invalid {
      border-color: red;
    }
    &:required:valid {
      border-color: green;
    }
  }
}

.inner {
  max-width: 890px;
  width: 100%;
  margin: 0 auto;
  @media (max-width: 1550px) {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
  &.img-width {
    width: 100%;
  }
}

.text-center {
  text-align: center;
}

ul {
  margin: 0;
  padding: 0;
  li {
    list-style-type: none;
  }
}

a {
  transition: all 0.3s ease-in-out;
}

b,
strong {
  font-weight: bold;
}

.btn {
  background: linear-gradient(90deg, #e53051 0%, #ea5a74 100%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 107px;
  padding: 14px 50px;
  color: #ffffff;
  text-decoration: none;
}

header {
  padding-top: 25px;
  position: relative;
  background-color: #000;
  .top__line {
    padding: 27px 0;
    margin-bottom: 20px;
    position: relative;
    z-index: 2;
  }
  .header__nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .brand {
    max-width: 174px;
  }
  .header__menu {
    width: 70%;
  }
  ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  li {
    a {
      font-weight: 600;
      font-size: 15px;
      line-height: 16px;
      letter-spacing: 0.05em;
      text-transform: capitalize;
      text-decoration: none;
      color: #ffffff;
      padding-bottom: 10px;
      border-bottom: 3px solid transparent;
      display: block;
      &:hover {
        text-decoration: none;
        color: $accent;
      }
    }
  }
  li.current-menu-item {
    a {
      border-color: $accent;
      color: $accent;
    }
  }
  .hamburger {
    padding: 0;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    outline: none;
    transition: all 0.3s ease-in-out;
    display: none;
  }
  .hamburger-inner {
    position: relative;
    width: 40px;
    height: 20px;
    span {
      width: 100%;
      height: 1px;
      background-color: #ffffff;
      display: block;
      position: absolute;
      transition: all 0.3s ease-in-out;
    }
  }
  span.top {
    top: 0;
    left: 0;
  }
  span.middle {
    top: 50%;
    transform: translateY(-50%);
    left: 0;
  }
  span.bottom {
    bottom: 0;
    left: 0;
  }
  .hamburger.active {
    span.middle {
      opacity: 0;
      visibility: hidden;
    }
    span.top {
      transform: rotate(-35deg) translateY(-50%);
      top: 50%;
    }
    span.bottom {
      transform: rotate(35deg) translateY(-50%);
      bottom: 50%;
    }
  }
  @media (max-width: 950px) {
    .hamburger {
      display: block;
    }
    .top__line {
      padding: 15px 0;
      margin-bottom: 0;
    }
    .header__menu {
      position: absolute;
      height: 100vh;
      width: 280px;
      background-color: $accent;
      top: -20px;
      left: 0;
      padding: 15px;
      padding-top: 50px;
      z-index: 100;
      transform: translateX(-280px);
      transition: all 0.3s ease-in-out;
    }
    .header__menu.active {
      transform: translateX(0);
    }
    .header__descr {
      z-index: 0;
    }
    ul {
      flex-direction: column;
      align-items: flex-start;
    }
    li {
      margin-bottom: 20px;
      a {
        font-size: 24px;
        &:hover {
          color: #ffffff;
          border-color: #ffffff;
        }
      }
    }
    li.current-menu-item {
      a {
        color: #ffffff;
        border-color: #ffffff;
      }
    }
    padding: 10px 0;
  }
  @media (max-width: 600px) {
  }
}

.our-journey {
  padding: 50px 0;
  padding-bottom: 100px;
  .journey__row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .journey__thumb {
    position: relative;
    width: 45%;
    img {
      max-width: 100%;
    }
  }
  .journey__descr {
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .advisors {
    position: absolute;
    background-image: url(../img/journey/bg-advisors2.png);
    width: 180px;
    height: 160px;
    background-position: center top;
    background-size: cover;
    bottom: 0;
    left: -5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 35px;
    padding-left: 15px;
  }
  .num {
    font-weight: bold;
    font-size: 36px;
    line-height: 40px;
    text-transform: capitalize;
    color: #ffffff;
    margin-bottom: 12px;
    text-align: center;
  }
  .text {
    font-weight: bold;
    font-size: 10px;
    line-height: 12px;
    text-align: center;
    text-transform: capitalize;
    color: #ffffff;
    text-align: center;
  }
  .title {
    font-weight: 800;
    font-size: 26px;
    line-height: 28px;
    color: $title;
    letter-spacing: 0.05em;
    text-transform: capitalize;
    margin-bottom: 25px;
  }
  p {
    font-weight: normal;
    font-size: 12px;
    line-height: 23px;
    display: flex;
    align-items: center;
    text-transform: capitalize;
    color: $title;
    margin-bottom: 20px;
  }
  .journey__link {
    padding: 5px 15px;
    background: $accent;
    box-shadow: 8px 8px 18px rgba(230, 49, 82, 0.3);
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    color: #ffffff;
    font-weight: bold;
    font-size: 10px;
    line-height: 15px;
    display: flex;
    align-items: center;
    letter-spacing: 0.05em;
    text-decoration: none;
    &:hover {
      text-decoration: none;
      box-shadow: 8px 8px 18px rgba(230, 49, 82, 0.5);
    }
  }
  .circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    margin-left: 15px;
    svg {
      max-width: 80%;
    }
  }
  @media (max-width: 1300px) {
  }
  @media (max-width: 1100px) {
    .journey__thumb {
      width: 48%;
    }
    .journey__descr {
      width: 48%;
    }
  }
  @media (max-width: 1000px) {
    padding: 60px 0;
    .advisors {
      bottom: 0px;
      left: 0px;
    }
  }
  @media (max-width: 700px) {
    .journey__row {
      flex-direction: column;
      align-items: center;
    }
    .journey__descr {
      width: 100%;
    }
    .advisors {
      display: none;
    }
    .journey__thumb {
      margin-bottom: 30px;
    }
  }
  @media (max-width: 500px) {
    .journey__thumb {
      width: 100%;
    }
    .journey__row {
      align-items: center;
      text-align: center;
    }
    .journey__descr {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}

.advantages {
  padding-top: 20px;
  padding-bottom: 42px;
  .num {
    position: absolute;
    background: linear-gradient(90deg, #e53051 0%, #ea5a74 100%);
    width: 65px;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-weight: 800;
    font-size: 28px;
    line-height: 31px;
    text-transform: capitalize;
    color: #ffffff;
    left: 50%;
    top: -33px;
    transform: translateX(-50%);
    box-shadow: 0px 10px 20px 5px rgba(229, 48, 81, 0.3);
  }
  .advantages__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-gap: 35px;
  }
  .advantages__item {
    background: #ffffff;
    position: relative;
    border-radius: 25px;
    padding: 20px 17px;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
    transition: all 0.5s ease-in-out;
    img {
      max-width: 100%;
      margin-bottom: 30px;
    }
    &:hover {
      box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.4);
    }
  }
  .advantages__title {
    font-weight: bold;
    font-size: 13px;
    line-height: 14px;
    color: $title;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 25px;
  }
  .advantages__text {
    display: block;
    text-align: center;
    font-weight: normal;
    font-size: 9px;
    line-height: 12px;
    color: $text;
    text-transform: capitalize;
  }

  @media (max-width: 900px) {
    padding-top: 50px;
  }
  @media (max-width: 600px) {
    .advantages__list {
      grid-template-columns: 1fr;
      grid-gap: 50px;
    }
    .advantages__item {
      img {
        max-width: 240px;
        margin-bottom: 15px;
      }
    }
    .advantages__title {
      font-size: 16px;
      margin-bottom: 10px;
    }
    .advantages__text {
      font-size: 12px;
      line-height: 16px;
    }
  }
  @media (max-width: 480px) {
    padding: 40px 0;
    .advantages__item {
      padding: 20px;
    }
  }
}

.widget {
  padding: 50px 0;
  padding-bottom: 100px;
  .widget__container {
    background: linear-gradient(90deg, #f6d365 0%, #e53253 100%);
    border-radius: 33px;
    box-shadow: 0px 10px 20px 5px rgba(0, 0, 0, 0.2);
  }
  .widget__bg {
    background: url(../img/journey/widget-bg.png) no-repeat center bottom;
    width: 100%;
    height: 100%;
    padding: 80px 50px;
    border-radius: 33px;
  }
  .widget__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .title {
    position: relative;
    font-weight: 800;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    letter-spacing: 0.05em;
    text-transform: capitalize;
    color: #ffffff;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.04);
    display: block;
    margin-bottom: 11px;
    &:before {
      content: "";
      width: 4px;
      height: 4px;
      border-radius: 50%;
      background: #ffffff;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.04);
      position: absolute;
      top: 50%;
      left: -18px;
      transform: translateY(-50%);
    }
  }
  .num {
    font-weight: 800;
    font-size: 44px;
    line-height: 48px;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: capitalize;
    color: #ffffff;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.04);
    display: block;
  }
  @media (max-width: 1050px) {
    .widget__list {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 30px;
      text-align: center;
    }
    .title {
      &:before {
        display: none;
      }
    }
    .widget__bg {
      padding: 50px;
    }
  }
  @media (max-width: 600px) {
    padding-top: 0;
    padding-bottom: 40px;
  }
  @media (max-width: 480px) {
    .widget__list {
      grid-template-columns: 1fr;
    }
    .widget__bg {
      padding: 20px;
    }
  }
}

.next {
  padding: 0;
  padding-bottom: 90px;
  .next__row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 40px;
  }
  .title {
    font-weight: 800;
    font-size: 26px;
    line-height: 28px;
    color: $title;
    letter-spacing: 0.05em;
    text-transform: capitalize;
    margin-bottom: 25px;
  }
  p {
    font-weight: normal;
    font-size: 12px;
    line-height: 23px;
    display: flex;
    align-items: center;
    text-transform: capitalize;
    color: $title;
    margin-bottom: 20px;
  }
  img {
    max-width: 100%;
  }
  @media (max-width: 1000px) {
    .next__row {
      grid-template-columns: 1fr;
      grid-gap: 30px;
      align-items: center;
      justify-items: center;
    }
    .next__descr {
      width: 100%;
    }
  }
  @media (max-width: 600px) {
    padding: 40px 0;
    padding-top: 20px;
  }
  @media (max-width: 500px) {
    .next__row {
      grid-gap: 15px;
    }
    .title {
      text-align: center;
    }
    p {
      text-align: center;
    }
  }
}

@import "media"; // Always at the end
