@import 'vars';
@import 'fonts';
@import 'libs';

::placeholder {
  color: #666;
}

::selection {
  background-color: $accent;
  color: #fff;
}

body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: 1.65;
  font-family: $default-font;
  overflow-x: hidden;
  color: $text;
  background-color: #fefefe;
  input,
  textarea {
    border: #666 1px solid;
    outline: none;
    &:focus:required:invalid {
      border-color: red;
    }
    &:required:valid {
      border-color: green;
    }
  }
}

.inner {
  max-width: 1500px;
  width: 100%;
  margin: 0 auto;
  @media (max-width: 1550px) {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
  &.img-width {
    width: 100%;
  }
}

.text-center {
  text-align: center;
}

ul {
  margin: 0;
  padding: 0;
  li {
    list-style-type: none;
  }
}

a {
  transition: all 0.3s ease-in-out;
}

b,
strong {
  font-weight: bold;
}

.btn {
  background: linear-gradient(90deg, #e53051 0%, #ea5a74 100%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 107px;
  padding: 25px 80px;
  color: #ffffff;
  text-decoration: none;
}

header {
  padding-top: 50px;
  position: relative;
  &:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    background-image: url(../img/header-bg.png);
    background-repeat: no-repeat;
    background-position: center bottom;
    z-index: 0;
  }
  .top__line {
    padding: 27px 0;
    margin-bottom: 20px;
    position: relative;
    z-index: 2;
  }
  .header__nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .brand {
    max-width: 284px;
  }
  .header__menu {
    width: 70%;
  }
  ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  li {
    a {
      font-weight: 600;
      font-size: 25px;
      line-height: 27px;
      letter-spacing: 0.05em;
      text-transform: capitalize;
      text-decoration: none;
      color: #ffffff;
      padding-bottom: 10px;
      border-bottom: 5px solid transparent;
      display: block;
      &:hover {
        text-decoration: none;
        color: $accent;
      }
    }
  }
  .active {
    a {
      border-color: $accent;
      color: $accent;
    }
  }
  .header__bottom {
    padding-top: 100px;
    padding-bottom: 250px;
    position: relative;
  }
  .header__banner {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .header__descr {
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    z-index: 2;
  }
  .site__title {
    font-weight: 800;
    font-size: 120px;
    line-height: 131px;
    letter-spacing: 0.05em;
    text-transform: capitalize;
    color: #ffffff;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 50px;
  }
  .site__description {
    font-weight: normal;
    font-size: 30.0654px;
    line-height: 43px;
    text-transform: capitalize;
    color: #f3f3f3;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 50px;
  }
  .banner__btn {
    font-weight: bold;
    font-size: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.05em;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    position: relative;
    &:hover {
      box-shadow: 8px 8px 18px rgba(230, 49, 82, 0.3);
      text-decoration: none;
      color: #ffffff;
    }
  }
}

.advantages {
  padding-top: 100px;
  padding-bottom: 50px;
  .advantages__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-gap: 80px;
  }
  .advantages__item {
    background: #ffffff;
    border-radius: 48.0203px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
    transition: all 0.5s ease-in-out;
    img {
      max-width: 100%;
      margin-bottom: 30px;
    }
    &:hover {
      box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.4);
    }
  }
  .advantages__title {
    font-weight: bold;
    font-size: 24.0101px;
    line-height: 26px;
    color: $title;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 25px;
  }
  .advantages__text {
    display: block;
    text-align: center;
    font-weight: normal;
    font-size: 18.2477px;
    line-height: 33px;
    color: $text;
    text-transform: capitalize;
  }
}

.services {
  padding-bottom: 160px;
  .section__title {
    padding: 60px;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 60px;
    &:after {
      content: '';
      width: 100%;
      height: 3px;
      background-color: #e8e8e8;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
  h2 {
    background-color: #ffffff;
    padding: 0 50px;
    font-weight: 800;
    font-size: 47px;
    line-height: 51px;
    letter-spacing: 0.05em;
    text-transform: capitalize;
    color: $title;
    margin-bottom: 0;
    position: relative;
    z-index: 1;
  }
  .services__list {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 72px;
  }
  .services__item {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    box-shadow: 0px 25.5911px 241.769px rgba(0, 0, 0, 0.03),
      0px 16.5868px 141.591px rgba(0, 0, 0, 0.0227778),
      0px 9.85732px 77.0078px rgba(0, 0, 0, 0.0182222),
      0px 5.11822px 39.2874px rgba(0, 0, 0, 0.015),
      0px 2.0852px 19.6997px rgba(0, 0, 0, 0.0117778),
      0px 0.47391px 9.51405px rgba(0, 0, 0, 0.00722222);
  }
}

.section__form {
  padding: 120px 0;
  background: #e9e9e9;
  .form__container {
    max-width: 810px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
  }
  .form__title {
    font-weight: 600;
    font-size: 45px;
    line-height: 49px;
    text-align: center;
    color: $title;
    letter-spacing: 0.05em;
    text-transform: capitalize;
    margin-bottom: 31px;
  }
  .form__descr {
    font-weight: normal;
    font-size: 25px;
    line-height: 27px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: capitalize;
    color: $title;
    margin-bottom: 60px;
  }
  .sec__form {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .form__field {
    width: 70%;
    input {
      background: #ffffff;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.03);
      border-radius: 49px;
      height: 80px;
      padding-left: 44px;
      font-weight: normal;
      font-size: 23px;
      line-height: 25px;
      letter-spacing: 0.05em;
      color: #6f6f6f;
      border: 0;
      width: 100%;
    }
  }
  .form__sbt {
    width: 25%;
  }
  .form__submit {
    box-shadow: 8px 8px 18px rgba(230, 49, 82, 0.3);
    font-weight: normal;
    font-size: 22px;
    line-height: 24px;
    letter-spacing: 1.1677px;
    text-transform: capitalize;
    text-align: center;
    border: 0;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    &:hover {
      box-shadow: 8px 8px 18px rgba(230, 49, 82, 0.6);
    }
  }
}

@import 'media'; // Always at the end
