@import 'vars';
@import 'fonts';
@import 'libs';

::placeholder {
  color: #666;
}

::selection {
  background-color: $accent;
  color: #fff;
}

body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: 1.65;
  font-family: $default-font;
  overflow-x: hidden;
  color: $text;
  background-color: #fefefe;
  input,
  textarea {
    border: #666 1px solid;
    outline: none;
    &:focus:required:invalid {
      border-color: red;
    }
    &:required:valid {
      border-color: green;
    }
  }
}

.inner {
  max-width: 890px;
  width: 100%;
  margin: 0 auto;
  @media (max-width: 1550px) {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
  &.img-width {
    width: 100%;
  }
}

.text-center {
  text-align: center;
}

ul {
  margin: 0;
  padding: 0;
  li {
    list-style-type: none;
  }
}

a {
  transition: all 0.3s ease-in-out;
}

b,
strong {
  font-weight: bold;
}

.btn {
  background: linear-gradient(90deg, #e53051 0%, #ea5a74 100%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 107px;
  padding: 14px 50px;
  color: #ffffff;
  text-decoration: none;
}

header {
  padding-top: 25px;
  position: relative;
  background-color: #000;
  .top__line {
    padding: 27px 0;
    margin-bottom: 20px;
    position: relative;
    z-index: 2;
  }
  .header__nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .brand {
    max-width: 174px;
  }
  .header__menu {
    width: 70%;
  }
  ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  li {
    a {
      font-weight: 600;
      font-size: 15px;
      line-height: 16px;
      letter-spacing: 0.05em;
      text-transform: capitalize;
      text-decoration: none;
      color: #ffffff;
      padding-bottom: 10px;
      border-bottom: 3px solid transparent;
      display: block;
      &:hover {
        text-decoration: none;
        color: $accent;
      }
    }
  }
  li.current-menu-item {
    a {
      border-color: $accent;
      color: $accent;
    }
  }
  .hamburger {
    padding: 0;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    outline: none;
    transition: all 0.3s ease-in-out;
    display: none;
  }
  .hamburger-inner {
    position: relative;
    width: 40px;
    height: 20px;
    span {
      width: 100%;
      height: 1px;
      background-color: #ffffff;
      display: block;
      position: absolute;
      transition: all 0.3s ease-in-out;
    }
  }
  span.top {
    top: 0;
    left: 0;
  }
  span.middle {
    top: 50%;
    transform: translateY(-50%);
    left: 0;
  }
  span.bottom {
    bottom: 0;
    left: 0;
  }
  .hamburger.active {
    span.middle {
      opacity: 0;
      visibility: hidden;
    }
    span.top {
      transform: rotate(-35deg) translateY(-50%);
      top: 50%;
    }
    span.bottom {
      transform: rotate(35deg) translateY(-50%);
      bottom: 50%;
    }
  }
  @media (max-width: 950px) {
    .hamburger {
      display: block;
    }
    .top__line {
      padding: 15px 0;
      margin-bottom: 0;
    }
    .header__menu {
      position: absolute;
      height: 100vh;
      width: 280px;
      background-color: $accent;
      top: -20px;
      left: 0;
      padding: 15px;
      padding-top: 50px;
      z-index: 100;
      transform: translateX(-280px);
      transition: all 0.3s ease-in-out;
    }
    .header__menu.active {
      transform: translateX(0);
    }
    .header__descr {
      z-index: 0;
    }
    ul {
      flex-direction: column;
      align-items: flex-start;
    }
    li {
      margin-bottom: 20px;
      a {
        font-size: 24px;
        &:hover {
          color: #ffffff;
          border-color: #ffffff;
        }
      }
    }
    li.current-menu-item {
      a {
        color: #ffffff;
        border-color: #ffffff;
      }
    }
    padding: 10px 0;
  }
  @media (max-width: 600px) {
  }
}

.next {
  padding: 50px 0;
  padding-bottom: 90px;
  .next__row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 40px;
  }
  .title {
    font-weight: 800;
    font-size: 26px;
    line-height: 28px;
    color: $title;
    letter-spacing: 0.05em;
    text-transform: capitalize;
    margin-bottom: 25px;
  }
  p {
    font-weight: normal;
    font-size: 12px;
    line-height: 23px;
    display: flex;
    align-items: center;
    text-transform: capitalize;
    color: $title;
    margin-bottom: 20px;
  }
  img {
    max-width: 100%;
  }
  @media (max-width: 1000px) {
    .next__row {
      grid-template-columns: 1fr;
      grid-gap: 30px;
      align-items: center;
      justify-items: center;
    }
    .next__descr {
      width: 100%;
    }
  }
  @media (max-width: 600px) {
    padding: 40px 0;
    padding-top: 20px;
  }
  @media (max-width: 500px) {
    .next__row {
      grid-gap: 15px;
    }
    .title {
      text-align: center;
    }
    p {
      text-align: center;
    }
  }
}

.points {
  background-image: url(../img/service/links-bg.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 95px 0;
  .sub__title {
    display: block;
    position: relative;
    padding-left: 20px;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.05em;
    text-transform: capitalize;
    color: rgba(255, 255, 255, 0.57);
    &:before {
      content: '';
      width: 6px;
      height: 6px;
      border-radius: 50%;
      position: absolute;
      background: rgba(255, 255, 255, 0.57);
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  .main__title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
  }
  h1 {
    font-weight: 800;
    font-size: 25px;
    line-height: 36px;
    color: #ffffff;
  }
  .journey__link {
    padding: 10px 20px;
    background: $accent;
    box-shadow: 8px 8px 18px rgba(230, 49, 82, 0.3);
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    color: #ffffff;
    font-weight: bold;
    font-size: 10px;
    line-height: 15px;
    display: flex;
    align-items: center;
    letter-spacing: 0.05em;
    text-decoration: none;
    &:hover {
      text-decoration: none;
      box-shadow: 8px 8px 18px rgba(230, 49, 82, 0.5);
    }
  }
  .circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    margin-left: 15px;
    svg {
      max-width: 80%;
    }
  }
  .links__list {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 19px;
  }
  .link {
    padding: 0 0px;
    padding-top: 45px;
    padding-bottom: 30px;
    border: 1px solid #fff;
    border-radius: 21px;
    transition: all 0.3s ease-in-out;
    position: relative;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    &:after {
      content: '';
      width: 0;
      height: 0;
      border-left: 15px solid transparent;
      border-right: 15px solid transparent;
      border-top: 15px solid #ffffff;
      position: absolute;
      left: 50%;
      bottom: -14px;
      transform: translateX(-50%);
      opacity: 0;
      visibility: hidden;
      transition: all 0.3s ease-in-out;
    }
    &:hover {
      color: #000000;
      text-decoration: none;
      background-color: #ffffff;
      &:after {
        opacity: 1;
        visibility: visible;
      }
    }
  }
  .link.active {
    color: #000000;
    background-color: #ffffff;
    &:after {
      opacity: 1;
      visibility: visible;
    }
  }
  @media (max-width: 1350px) {
    .link {
      padding: 10px;
      padding-top: 30px;
      padding-bottom: 30px;
    }
  }
  @media (max-width: 1050px) {
    padding: 60px 0;
    .main__title {
      flex-direction: column;
      align-items: center;
      padding: 20px 0;
    }
    h1 {
      text-align: center;
    }
    .sub__title {
      text-align: center;
      &:before {
        display: none;
      }
    }
    .links__list {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  @media (max-width: 600px) {
    padding: 40px 0;
    .sub__title {
      margin-bottom: 10px;
    }
    .main__title {
      padding-top: 0;
    }
    .links__list {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  @media (max-width: 450px) {
    .links__list {
      grid-gap: 15px;
    }
    .link {
      padding: 10px;
      &:after {
        display: none;
      }
    }
  }
}

.tabs {
  .tab__container {
    position: relative;
    min-height: 400px;
  }
  .tab {
    position: absolute;
    padding: 80px 0;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 0;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
  }
  .tab.active {
    z-index: 1;
    opacity: 1;
    visibility: visible;
  }
  .tab__row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
  }
  .title {
    color: $title;
    font-weight: 800;
    font-size: 27px;
    line-height: 30px;
    display: flex;
    align-items: center;
    letter-spacing: 0.05em;
    text-transform: capitalize;
    margin-bottom: 25px;
  }
  p {
    font-weight: normal;
    font-size: 12px;
    line-height: 23px;
    letter-spacing: 0.05em;
    text-transform: capitalize;
    margin-bottom: 20px;
    color: $title;
    &:last-child {
      margin-bottom: 0;
    }
  }
  img {
    max-width: 100%;
  }
  @media (max-width: 1000px) {
    .tab__row {
      grid-template-columns: 1fr;
      grid-gap: 30px;
      align-items: center;
      justify-items: center;
    }
    .tab__descr {
      width: 100%;
    }
  }
  @media (max-width: 600px) {
    .tab {
      padding: 40px 0;
    }
    .title {
      text-align: center;
    }
    p {
      text-align: center;
    }
  }
}

@import 'media'; // Always at the end
